/* Playbook Color Palette */

:root {
  /* BLUE */
  --blue: #228cdb;
  
  --blue-light-10: #3898df;
  --blue-light-20: #4ea3e2;
  --blue-light-30: #64a6e6;
  --blue-light-40: #7abae9;
  --blue-light-50: #91c6ed;
  --blue-light-60: #a7d1f1;
  --blue-light-70: #bdddf4;
  --blue-light-80: #d3e8f8;
  --blue-light-90: #e9f4fb;
  
  --blue-dark-10: #1f7ec5;
  --blue-dark-20: #1b70af;
  --blue-dark-30: #186299;
  --blue-dark-40: #145483;
  --blue-dark-50: #11466e;
  --blue-dark-60: #0e3858;
  --blue-dark-70: #0a2a42;
  --blue-dark-80: #071c2c;
  --blue-dark-90: #030e16;

  /* GOLD */
  --orange: #ffcd51;
  
  --orange-light-10: #ffd262;
  --orange-light-20: #ffd774;
  --orange-light-30: #ffdc85;
  --orange-light-40: #ffe197;
  --orange-light-50: #ffe8a8;
  --orange-light-60: #ffebb9;
  --orange-light-70: #fff0cb;
  --orange-light-80: #fff5dc;
  --orange-light-90: #fffaea;
  
  --orange-dark-10: #e6b949;
  --orange-dark-20: #cca441;
  --orange-dark-30: #b39039;
  --orange-dark-40: #997b31;
  --orange-dark-50: #806722;
  --orange-dark-60: #665220;
  --orange-dark-70: #4c3d18;
  --orange-dark-80: #332910;
  --orange-dark-90: #191408;

  /* GREEN */
  --green: #228cdb;
  
  --green-light-10: #6ad29b;
  --green-light-20: #7ad7a6;
  --green-light-30: #8bdcb1;
  --green-light-40: #9be1bc;
  --green-light-50: #aceec8;
  --green-light-60: #bdebd3;
  --green-light-70: #cdf0de;
  --green-light-80: #def5e9;
  --green-light-90: #eefaf4;
  
  --green-dark-10: #50b982;
  --green-dark-20: #47a473;
  --green-dark-30: #3e9065;
  --green-dark-40: #357b56;
  --green-dark-50: #2d6748;
  --green-dark-60: #24523a;
  --green-dark-70: #1b3d2b;
  --green-dark-80: #12291d;
  --green-dark-90: #09140e;

  /* RED */
  --red-500: #ee6352;
  
  --red-light-10: #f07363;
  --red-light-20: #f18275;
  --red-light-30: #f39286;
  --red-light-40: #f5a197;
  --red-light-50: #f7b1a9;
  --red-light-60: #f8c1ba;
  --red-light-70: #fad0cb;
  --red-light-80: #fce0dc;
  --red-light-90: #fdefee;
  
  --red-dark-10: #d6594a;
  --red-dark-20: #be4f42;
  --red-dark-30: #a74539;
  --red-dark-40: #8f3b31;
  --red-dark-50: #773229;
  --red-dark-60: #5f2821;
  --red-dark-70: #471e19;
  --red-dark-80: #301410;
  --red-dark-90: #180a08;

  /* GRAY */
  --gray-500: #383838;
  
  --gray-light-10: #4c4c4c;
  --gray-light-20: #606060;
  --gray-light-30: #747474;
  --gray-light-40: #888888;
  --gray-light-50: #9c9c9c;
  --gray-light-60: #afafaf;
  --gray-light-70: #c3c3c3;
  --gray-light-80: #d7d7d7;
  --gray-light-90: #ebebeb;
  
  --gray-dark-10: #323232;
  --gray-dark-20: #2d2d2d;
  --gray-dark-30: #272727;
  --gray-dark-40: #222222;
  --gray-dark-50: #1c1c1c;
  --gray-dark-60: #161616;
  --gray-dark-70: #111111;
  --gray-dark-80: #0b0b0b;
  --gray-dark-90: #060606;
}